@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

#bod {
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /* The image used */
    background-image: url("images/back7.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#head {
    font-family: 'Luckiest Guy', cursive;
    color:#FF69A3;
}

#abForm{
    color: #D6FFF6;
    text-align: justify;
}
#cent{
    text-align: center;
}

#About{
}