@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

#submit{
    background-color: #FF69A3;
}

#contHead{
    color: #FF69A3;
    font-family: 'Luckiest Guy', cursive;
}

#formatCont{
    padding-top: 7vh;
}

#Contact{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background: transparent; 
    /* height: 50vh; */
}

#formHead{
    color: #D6FFF6;
    font-family: 'Luckiest Guy', cursive;
}