body,html{
  font-family: 'Play', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Chelsea Market', cursive;
}

.navbar.navbar-expand-lg.navbar-dark.bg-primary.sticky-top{
  visibility: hidden;
}