body,html{
  font-family: 'Play', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Chelsea Market', cursive;
}

.navbar.navbar-expand-lg.navbar-dark.bg-primary.sticky-top{
  visibility: hidden;
}

.row{
  align-items: stretch;
  justify-items: stretch;
}

.col-12{
  align-self: stretch;
  justify-self: stretch;
}

.col-12 > .card{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}