@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.App {
  text-align: center;
  margin: auto;
  font-family: 'Lato', Georgia, sans-serif;
  /* The image used */
  background-image: url("./components/images/back7.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#logo{
  overflow: hidden;
  display: inline;
}
/* #Contact, #Portfolio, #About {
  margin-bottom: 5vh;
  background: transparent; 
  height: 65vh;
} */



.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}