@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

#Portfolio{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background: transparent; 
    /* height: 100vh; */
}

#workHead{
    color:  #D6FFF6;
    font-family: 'Luckiest Guy', cursive;
}

#card{
    margin-bottom: 3vh;
    background-color: #FF69A3;
    opacity: .85;
    color: #D6FFF6;
}